---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
  transition: background-color 0.3s ease, color 0.3s ease;

}


pre {
 background: $light-code-surface;
}

div {
  background: $white;
  transition: background-color 0.3s ease, color 0.3s ease;	
}

article {
  background: $white;
  transition: background-color 0.3s ease, color 0.3s ease;
}


body.dark-mode {
  background-color: $dark-background !important; /* Ensure dark mode applies */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}
/* Position the copy button at the top-right corner of the pre block */
.copy-button {
  position: absolute;
  top: 2px; /* Adjust as necessary */
  right: 2px; /* Position at the top-right corner */ 
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

  .category-tag {
    display: inline-block;
    padding: 8px 12px;
    background: linear-gradient(white, white) padding-box, 
                linear-gradient(45deg, #ff7e5f, #feb47b) border-box; /* Background gradient */
    border: 2px solid transparent; /* Transparent border to allow background gradient */
    border-radius: 50px;    /* Full rounded corners */
    font-size: 16px;
    text-align: center;
    text-decoration: none; /* Removes underline from the link */
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */ 
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .category-tag:hover {
    background-color: #e0f7e9;   /* Light green background on hover */
    color: $dark-link;                 /* Changes text color on hover */
  }

.copy-button:hover {
  background-color: #0056b3;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $white;
}

footer {
  padding: 20px 0;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}


/**************/
/* DARK MODE TOGGLE */
/**************/

.dark-mode-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 1000;
}

#toggle-mode {
  background: $lightGray;
  border: none;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

#toggle-mode .icon-sun,
#toggle-mode .icon-moon {
  font-size: 24px;
  display: none;
  pointer-events: none;
}

#toggle-mode .icon-sun {
  display: inline-block;
}

body.dark-mode #toggle-mode {
  background: $dark-background;
}

body.dark-mode #toggle-mode .icon-sun {
  display: none;
}

body.dark-mode #toggle-mode .icon-moon {
  display: inline-block;
}



/**************/
/* DARK MODE  */
/**************/

.dark-mode {
  html {
    font-size: 100%;
  }

  pre {
    background: $dark-code-surface;
  }

  body {
    background-color: $dark-background  !important;
    font: 18px/1.4 $helvetica;
    color: $dark-text !important;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  button {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  div {
    background: $dark-background  !important;
    transition: background-color 0.3s ease, color 0.3s ease;	
  }

   article {
    background: $dark-background  !important;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .container {
    background: $dark-background;
    color: $dark-text;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $dark-text;
  }

  h4 {
    color: lighten($dark-text, 20%);
  }

  a {
    color: $dark-link;
    &:hover, &:active {
      color: lighten($dark-link, 10%);
    }
  }

  ul, ol {
    color: $dark-text;
  }

  em, i {
    color: lighten($dark-text, 10%);
  }

  strong, b {
    color: lighten($dark-text, 5%);
  }

  .date {
    color: lighten($dark-text, 30%);
  }

  ::-moz-selection {
    color: $dark-text;
    background: darken($dark-link, 30%);
  }
  ::selection {
    color: $dark-text;
    background: darken($dark-link, 30%);
  }

  nav {
    a {
      color: $dark-text;
      &:hover {
        color: $dark-link;
      }
    }
  }


   .tab-button {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: $dark-text;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    transition: color 0.3s, border-bottom-color 0.3s;
    position: relative;
  }

  

  .tab-button.active {
    color: $dark-text;
    font-weight: bold;
  }

  .wrapper-footer {
    margin-top: 50px;
    border-top: 1px solid darken($dark-footer, 20%);
    border-bottom: 1px solid darken($dark-footer, 20%);
    background-color: $dark-footer;
  }

  footer {
    color: $dark-text;
  }

  .masthead {
    padding: 20px 0;
    border-bottom: 1px solid darken($dark-background, 10%); 
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .posts > .post {
    border-bottom: 1px solid darken($dark-background, 10%);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $dark-link;
    padding: 0.1em 1em;
    color: lighten($dark-text, 20%);
    font-size: 22px;
    font-style: italic;
  }

 /* Position the copy button at the top-right corner of the pre block */
 .copy-button {
   position: absolute;
   top: 2px; /* Adjust as necessary */
   right: 2px; /* Position at the top-right corner */ 
   background-color: #0056b3;
   color: white;
   border: none;
   padding: 5px 10px;
   font-size: 12px;
   border-radius: 4px;
   cursor: pointer;
 }

 .copy-button:hover {
   background-color: #007bff;
 }

  .category-tag {
    display: inline-block;
    padding: 8px 12px;
    background: linear-gradient($darkGray, $darkGray) padding-box, 
                linear-gradient(45deg, #ff7e5f, #feb47b) border-box; /* Background gradient */
    border: 2px solid transparent; /* Transparent border to allow background gradient */
    border-radius: 50px;    /* Full rounded corners */
    font-size: 16px;
    color: #d4ccde;           /* Text color */
    text-align: center;
    text-decoration: none; /* Removes underline from the link */
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .category-tag:hover {
    background-color: #b8e4d6;   /* Light green background on hover */
    color: $dark-link;                 /* Changes text color on hover */
  }

}




/* Default styles for the light mode icons */
.icon-light {
  color: black; /* Light mode icon color */
}

/* Styles for the dark mode icons */
body.dark-mode .icon-dark {
  color: white; /* Dark mode icon color */
}

body.dark-mode .icon-light {
  color: #6c757d; /* Optional: a less saturated color for icons in dark mode */
}

/* Adjust icon color for hover (both modes) */
.icon-light:hover, .icon-dark:hover {
  color: #007bff; /* A highlight color for hover state */
  transition: color 0.3s ease; /* Smooth transition on hover */
}

main {
  --color-prettylights-syntax-comment: #768390;
  --color-prettylights-syntax-constant: #6cb6ff;
  --color-prettylights-syntax-entity: #dcbdfb;
  --color-prettylights-syntax-storage-modifier-import: #adbac7;
  --color-prettylights-syntax-entity-tag: #8ddb8c;
  --color-prettylights-syntax-keyword: #f47067;
  --color-prettylights-syntax-string: #96d0ff;
  --color-prettylights-syntax-variable: #f69d50;
  --color-prettylights-syntax-brackethighlighter-unmatched: #e5534b;
  --color-prettylights-syntax-invalid-illegal-text: #cdd9e5;
  --color-prettylights-syntax-invalid-illegal-bg: #922323;
  --color-prettylights-syntax-carriage-return-text: #cdd9e5;
  --color-prettylights-syntax-carriage-return-bg: #ad2e2c;
  --color-prettylights-syntax-string-regexp: #8ddb8c;
  --color-prettylights-syntax-markup-list: #eac55f;
  --color-prettylights-syntax-markup-heading: #316dca;
  --color-prettylights-syntax-markup-italic: #adbac7;
  --color-prettylights-syntax-markup-bold: #adbac7;
  --color-prettylights-syntax-markup-deleted-text: #ffd8d3;
  --color-prettylights-syntax-markup-deleted-bg: #78191b;
  --color-prettylights-syntax-markup-inserted-text: #b4f1b4;
  --color-prettylights-syntax-markup-inserted-bg: #1b4721;
  --color-prettylights-syntax-markup-changed-text: #ffddb0;
  --color-prettylights-syntax-markup-changed-bg: #682d0f;
  --color-prettylights-syntax-markup-ignored-text: #adbac7;
  --color-prettylights-syntax-markup-ignored-bg: #255ab2;
  --color-prettylights-syntax-meta-diff-range: #dcbdfb;
  --color-prettylights-syntax-brackethighlighter-angle: #768390;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #545d68;
  --color-prettylights-syntax-constant-other-reference-link: #96d0ff;
  --color-btn-text: #adbac7;
  --color-btn-bg: #373e47;
  --color-btn-border: #cdd9e51a;
  --color-btn-shadow: 0 0 #0000;
  --color-btn-inset-shadow: 0 0 #0000;
  --color-btn-hover-bg: #444c56;
  --color-btn-hover-border: #768390;
  --color-btn-active-bg: #3d444d;
  --color-btn-active-border: #636e7b;
  --color-btn-selected-bg: #2d333b;
  --color-btn-primary-text: #fff;
  --color-btn-primary-bg: #347d39;
  --color-btn-primary-border: #cdd9e51a;
  --color-btn-primary-shadow: 0 0 #0000;
  --color-btn-primary-inset-shadow: 0 0 #0000;
  --color-btn-primary-hover-bg: #46954a;
  --color-btn-primary-hover-border: #cdd9e51a;
  --color-btn-primary-selected-bg: #347d39;
  --color-btn-primary-selected-shadow: 0 0 #0000;
  --color-btn-primary-disabled-text: #cdd9e580;
  --color-btn-primary-disabled-bg: #347d3999;
  --color-btn-primary-disabled-border: #cdd9e51a;
  --color-action-list-item-default-hover-bg: #909dab1f;
  --color-segmented-control-bg: #636e7b1a;
  --color-segmented-control-button-bg: #22272e;
  --color-segmented-control-button-selected-border: #636e7b;
  --color-fg-default: #adbac7;
  --color-fg-muted: #768390;
  --color-fg-subtle: #545d68;
  --color-canvas-default: transparent;
  --color-canvas-overlay: #161b22;
  --color-canvas-inset: #15202b;
  --color-canvas-subtle: #253341;
  --color-border-default: #444c56;
  --color-border-muted: #373e47;
  --color-neutral-muted: #636e7b66;
  --color-accent-fg: #539bf5;
  --color-accent-emphasis: #316dca;
  --color-accent-muted: #4184e466;
  --color-accent-subtle: #388bfd1a;
  --color-success-fg: #57ab5a;
  --color-attention-fg: #c69026;
  --color-attention-muted: #ae7c1466;
  --color-attention-subtle: #ae7c1426;
  --color-danger-fg: #e5534b;
  --color-danger-muted: #e5534b66;
  --color-danger-subtle: #e5534b1a;
  --color-primer-shadow-inset: 0 0 #0000;
  --color-scale-gray-7: #373e47;
  --color-scale-blue-8: #143d79;

  /*! Extensions from @primer/css/alerts/flash.scss */
  --color-social-reaction-bg-hover: var(--color-scale-gray-7);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}

/*! Custom CSS */
.gsc-reactions-count {
  display: none;
}
.gsc-timeline {
  flex-direction: column-reverse;
}
.gsc-header {
  padding-bottom: 1rem;
}
.gsc-comments > .gsc-header {
  order: 1;
}
.gsc-comments > .gsc-comment-box {
  margin-bottom: 1rem;
  order: 2;
}
.gsc-comments > .gsc-timeline {
  order: 3;
}
.gsc-homepage-bg {
  background-color: ;
}
main .gsc-loading-image {
  background-image: url(https://github.githubassets.com/images/mona-loading-dimmed.gif);
}

main .pagination-loader-container {
  background-image: url(https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg);
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
