main {
  

  .gsc-loading-image {
    background-image: url('https://github.githubassets.com/images/mona-loading-dimmed.gif');
  }

  .pagination-loader-container {
    background-image: url('https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg');
  }
}

/*! Custom CSS */
.gsc-reactions-count {
  display: none;
}

.gsc-timeline {
  flex-direction: column-reverse;
}

.gsc-header {
  padding-bottom: 1rem;
}

.gsc-comments {
  > .gsc-header {
    order: 1;
  }
  > .gsc-comment-box {
    margin-bottom: 1rem;
    order: 2;
  }
  > .gsc-timeline {
    order: 3;
  }
}

.gsc-homepage-bg {
  background-color: null; // This was empty in original CSS, adjust as needed
}
